@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*,body {
    margin: 0;
    padding: 0;
}
body{
    height: 200vh;
}
#main {
    position: relative;
    height: 100vh;
    background: rgba(10,16,36,.6) url("./img.jpg");
    background-blend-mode: color-dodge;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}
h1 { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:10%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10em;
    font-weight: 100;
    text-transform: uppercase;
}
section.section {
    height: 100vh;
    padding: 6em 10em;
    background-color: rgb(14,20,40);
}
h2 {
    color: white;
    font-family: "Montserrat";
    font-size: 2em;
}

.left-bar {
    border-left: 4px solid white;
    padding-left: .8em;
}

